@charset "UTF-8";
/* Formatação da página em geral */

* {
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'roboto', Helvetica, Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

p {
    font-weight: 300;
    text-align: left;
    font-size: .8rem;
    color: #111111;
}

h1 {
    margin-top: 1em;
    font-size: 2.5rem;
    color: #111111;
}

h2 {
    margin-top: 0.5em;
    font-size: 1.8rem;
    font-weight: 400;
}

h5 {
    margin: 20px 10px;
    font-weight: bold;
}

img {
    display: block;
}

body {
}

/* Topo da página */

.toppage {
    max-width: 100%;
    border: 1px solid rgba(204, 204, 204, .5);
}

/* Topo da página */

.toppage1 {
    display: flex;
    padding: 0px 7.5%;
    height: 3.2rem;
    background-color: black;
    color: white;
}

.toppage1 a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    margin: 0% 15px;
}

.toppage1 i {
    margin-right: 5px;
    font-size: 1rem;
}

.toppageleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.toppageright {
    width: 25%;
    text-align: right;
    margin-right: 5px;
    line-height: 3.2rem;
}

/* Topo menu e logo */

.toppage2 {
    display: flex;
    justify-content: space-between;
    height: 5.6rem;
    margin: 0;
    background-color: #fff;
    width: 90%;
}

.toplogo {
    padding: 10px;
}

/* Formatação do Menu */

.topmenu {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

/* posiciona um elemento ao lado do outro e formata o botão */

.topmenu li {
    list-style: none;
    line-height: 2.5rem;
    font-size: medium;
    font-weight: 600;
    width: 40px;
    margin: 0 20px;
    text-align: center;
}

/* Formata o link da opção */

.topmenu li a {
    display: block;
    text-decoration: none;
    color: #551a8b;
}

/* formata o submenu simples */

.topmenu li ul {
    position: absolute;
    display: none;
    border: 1px solid rgba(0, 0, 0, .3);
}

.topmenu li ul li {
    width: 15rem;
    margin-left: 5px;
    display: block;
    position: relative;
    list-style: none;
    text-align: left;
    font-size: large;
}

/* Aplica uma nova cor toda vez que o mouse passa sobre os links */

.topmenu li a:hover {
    color: blue;
    transition: .5s;
}

.topmenu li:hover ul {
    display: block;
    border: 1px solid rgba(red, green, blue, .5);
    border-top: 3px solid #17a2b8;
}

/* Formatação da pesquisa  */

.topsearch {
    display: flex;
    width: 15rem;
    line-height: 4.4rem;
    align-items: center;
    justify-content: end;
}

.topsearch input {
    border: 2px solid #551a8b;
    border-radius: 10px 0 0 10px;
    height: 40px;
    font-size: large;
}

.topsearch button {
    border: 2px solid #551a8b;
    border-radius: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    margin-left: -13%;
    font-size: large;
    background-color: #17a2b8;
}

/* Formatação da primeira section */

.top-section {
    background-color: #f9fafc;
    max-width: 100%;
}

.principal-section {
    max-width: 85%;
}

.social {
    width: 5rem;
    font-size: medium;
    display: flex;
    flex-direction: column;
    float: left;
    height: 30rem;
    justify-content: center;
}

.social i {
    margin: 10px auto;
}

.toptext {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 0;
}

.toptext-text {
    width: 45%;
    align-items: center;
    margin-top: 2rem;
    justify-content: left;
}

.toptext-text h1 {
    line-height: 150%;
    margin-bottom: 2rem;
}

.toptext-text h3 {
    line-height: 150%;
    margin-bottom: 2rem;
    font-weight: 300;
}

.toptext-imagem {
    margin-top: 2rem;
    width: 45%;
}

.toptext-imagem img {
    width: 90%;
}

.toptext-text a {
    display: block;
    float: left;
    width: 12rem;
    line-height: 3rem;
    text-align: center;
    background-color: #0d5763;
    color: #ffffff;
}

.fishing {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.ice-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fly-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fishing-tips {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.boat-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fishing img {
    width: 50%;
    margin: 40px auto 20px;
}

.fishing h4 {
    color: #17a2b8;
    margin: 20px auto
}

.fishing p {
    margin: 0 20px;
    line-height: 1.5rem;
    text-align: center;
}

.section-about {
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
}

.section-about-text h4 {
    color: #17a2b8;
}

.section-about-text h2 {
    line-height: 150%;
    font-weight: 300;
}

.section-about-text p {
    line-height: 130%;
    font-weight: 300;
    font-size: medium;
    margin: 10px 0;
}

.section-about-text ul li {
    list-style: none;
    font-weight: 300;
    font-size: medium;
    margin: 10px 0;
}

.section-about-text i {
    color: #17a2b8;
    margin-right: 5px;
    font-size: 1rem;
}

.section-about-text a {
    display: block;
    float: left;
    width: 8rem;
    line-height: 3rem;
    text-align: center;
    background-color: #0d5763;
    color: #ffffff;
}

.top-title h2 {
    color: #17a2b8;
    text-align: center;
    margin-bottom: 20px;
}

.top-title span {
    display: flex;
    justify-content: center;
    width: 40px;
}

.top-title h3 {
    line-height: 170%;
    font-weight: 300;
    font-size: medium;
    margin: 20px 250px;
    text-align: center;
}

.our-services-services {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.services {
    width: 380px;
    height: 200px;
    margin-bottom: 30px;
}

.services img {
    width: 380px;
    height: 200px;
}

.services h4 {
    margin-top: -100px;
    margin-left: 100px;
    width: 22.5rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, .8);
}

.feedback {
    display: flex;
}

.feedback1 img, .feedback2 img {
    border-radius: 50%;
    float: left;
    width: 15%;
}

.feedback h3 {
    font-weight: 200;
    margin-left: 80px;
    margin-top: 15px;
}

.feedback h5 {
    color: #17a2b8;
    margin-left: 80px;
    margin-top: 3px;
}

.feedback1 p, .feedback2 p {
    width: 10px 20px;
    line-height: 200%;
}

.feedback1, .feedback2 {
    border: 1px solid rgba(204, 204, 204, .5);
    margin: 20px;
    padding: 50px;
}

.stars {
    float: right;
    color: rgb(243, 207, 47);
    margin-top: 15px;
}

.accessories {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

.accessories img {
    width: 80%;
    margin: 40px auto 20px;
}

.accessories h4 {
    color: #17a2b8;
}

.fa-star {
    color: rgb(243, 207, 47);
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.black {
    color: black;
}

.ice-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fly-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fishing-tips {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.boat-fishing {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.fishing h4 {
    color: #17a2b8;
    margin: 20px auto
}

.fishing p {
    margin: 0 20px;
    line-height: 1.5rem;
    text-align: center;
}

.deal-of-the-week {
    background-color: #f9fafc;
    margin: 100px 0;
    display: flex;
    justify-content: space-between
}

.deal-img-left {
    width: 20%;
    justify-items: left;
}

.deal-img-left img {
    width: 100%;
    opacity: .5;
}

.deal-text {
    width: 40%;
}

.deal-text span {
    margin-right: 10px;
}

.deal-text h1 {
    margin-top: 0px;
}

.deal-text h2 {
    margin-top: 50px;
}

.deal-img-right {
    width: 30%;
    background-image: url('../imagens/product-image-3-xl.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.deal-time {
    display: flex;
}

.deal-time-numbers {
    background: #fff;
    border: 1px solid rgba(204, 204, 204, .5);
    text-align: center;
    width: 100px;
    margin: 5px 5px;
    padding: 5px 10px;
}

.deal-time-numbers h4 {
    font-weight: 100;
}

.deal-text a {
    display: block;
    float: left;
    width: 8rem;
    line-height: 3rem;
    text-align: center;
    background-color: #0d5763;
    color: #ffffff;
    margin: 20px 0 50px;
}

.blog {
    display: flex;
    background-color: #f9fafc;
    max-width: 100%;
}

.blog-img img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-text i {
    color: #17a2b8;
    margin: 20px 0px;
}

.blog-text h5 {
    font-weight: 100;
    margin-right: 40px;
}

.blog-text-i {
    display: flex;
}

.blog1 {
    width: 30%;
}

.blog-text-a {
    width: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 5px;
    font-size: medium;
}

.blog-text-a a {
    color: #000000;
    margin-left: 0;
}

.blog-text-a i {
    color: rgba(0, 0, 0, .5);
    margin-left: 0px;
}

.brand-logo {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 70px auto;
}

.botton-section {
    background-color: #f9fafc;
    width: 100%;
}

.botton-section1 {
    width: 85%;
    display: flex;
    height: 150px;
    align-items: center;
}

.subscribe {
    width: 25%;
    font-weight: 700;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border: 1px solid rgba(204, 204, 204, .5);
    height: 56px;
    font-size: large;
    padding: 5px;
}

.formulario input {
    height: 38px;
    width: 60%;
    border: none;
}

.formulario button {
    height: 38px;
    width: 100px;
    text-align: center;
    background-color: #0d5763;
    color: #ffffff;
    margin: 0;
}

}

.call {
    width: 30%;
}

.call h4 {
    color: rgba(23, 162, 184, .5);
    line-height: 15px;
    font-weight: 100;
}

.call h2 {
    line-height: 25px;
    font-weight: 700;
}

footer {
    width: 100%;
    background-image: url(../imagens/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 470px;
}

.top-footer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    line-height: 150%;
    padding-top: 50px;
}

.top-footer p {
    color: #fff;
}

.top-footer1 {
    width: 23%;
}

.top-footer2 {
    width: 23%;
}

.top-footer3 {
    width: 23%;
}

.top-footer4 {
    width: 23%;
}

.social-footer i {
    font-size: large;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px;
    margin-right: 10px;
}

.footer-contact {
    display: flex;
    align-items: flex-start;
    margin-bottom: -25px;
}

.footer-contact i {
    width: 5%;
    color: #17a2b8;
    margin-top: 25px;
}

.footer-contact h5 {
    width: 75%
}

.footer-contact p {
    margin: -10px 0 35px 10px;
    opacity: 50%;
}

.botton-footer {
    display: flex;
    margin: 120px 115px 0 110px;
}

.botton-footer p {
    color: #fff;
    font-weight: 150px;
    margin-left: 10px
}

.botton-footer img {
    margin-right: 10px;