@charset "UTF-8";
/* Variables   */

:root {
  --primary: #13788a;
  --secondary: #34a5b3;
  --text-primary: #111;
  --text-secondary: #777;
  --border-primary: rgba(0, 0, 0, .3);
  --gray: #f9fafc;
  --shadow-primary: 0 2px 10px rgba(34, 34, 34, 0.15);
  --header-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind", sans-serif;
}

/* Formatação da página em geral   */

* {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: #fff;
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
  font-family: var(--font-secondary);
}

/* Topo da página */

.top-page {
  width: 100%;
  box-shadow: var(--shadow-primary);
}

.top-page i {
  font-size: large;
  margin-right: .3rem;
}


.top-page1 {
  display: flex;
  background-color: #111;
  padding: 0 7.5%;
  align-items: center;
  color: #fff;
}

.top-pageleft {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0%;
}

.top-pageright {
  width: 20%;
  margin-right: 0%;
  text-align: right;
}

.top-pageleft1 {
  margin: 1% 2% 1% 0;
}

/* Formatando o Top-page-2 */

.top-page2 {
  display: flex;
  align-items: center;
  padding: 0 7.5%;
  height: auto;
}

.top-logo {
  width: 15%;
}

.top-logo img {
  width: 100%;
}

.top-menu {
  width: 65%;
  order: 1;
}

.top-search {
  text-align: right;
  margin-top: 10px;
  order: 2;
}

.top-menu ul {
  display: flex;
  justify-content: flex-end;
}

.top-menu ul li {
  list-style: none;
  margin: 1%;
  line-height: 120%;
  background-color: #fff;
}

.top-menu a {
  display: block;
  color: var(--text-primary);
  padding: 5px;
}

.top-menu ul a:hover {
  color: blue;
  transition: all .5s;
}

.top-menu a i {
  font-size: medium;
}

.top-menu ul li ul {
  position: absolute;
  display: none;
}

.top-menu ul li:hover > ul {
  display: block;
  border-top: 2px solid var(--secondary);
  margin-top: 0rem;
  background: #fff;
}

.top-menu ul li ul li {
  width: 12.5rem;
  position: relative;
}

.top-menu ul li ul li:hover > ul {
  display: block;
  border-top: 2px solid var(--secondary);
  margin-left: 7.5rem;
  margin-top: -2.2rem;
  background-color: #fff;
  z-index: 99;
}

.top-menu ul li ul li ul li {
  width: 12.5rem;
}

.top-search input {
  width: 70%;
  border-color: var(--border-primary);
  border-radius: 3.1rem 0 0 3.1rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: medium;
  margin-bottom: 1rem;
}

.top-search button {
  background-color: var(--secondary);
  border-color: var(--border-primary);
  border-radius: 0 3.1rem 3.1rem 0;
  margin-left: -2.5%;
  width: 2.5rem;
  height: 2.5rem;
}

.top-search i {
  font-size: x-large;
  color: #000;
}

/* Formatação da primeira section */
/* Formatação dos cards da Social  */

.top-section {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafc;
  max-width: 100%;
  margin: 2% 0;
}

.aside-social {
  width: 7.5%;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
}

.aside-social i {
  margin: .6rem auto;
}

.top-text {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 0;
  align-items: center;
}

.top-text-text {
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.top-text-text h1 {
  line-height: 150%;
  font-size: 2rem;
  font-family: var(--font-primary);
  font-weight: 600;
}

.top-text-text h3 {
  line-height: 150%;
  margin: 2rem 0;
  font-weight: 300;
}

.top-text-imagem {
  margin: 3rem 0;
  width: 55%;
}

.top-text-imagem img {
  width: 90%;
}

.top-text-text a {
  display: block;
  float: left;
  width: 8rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--primary);
  color: #ffffff;
}

/* Formatação da seção principal  OK */

.principal-section {
  max-width: 85%;
}

/* Formatação da seção fishing OK  */

.type-fishing {
  display: flex;
  justify-content: space-around;
  margin-top: 0rem;
}

.type-fishing1 {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  box-shadow: var(--shadow-primary);
  margin: 2.5rem 1rem;
}

.type-fishing1 img {
  width: 50%;
  margin: 2rem auto;
}

.type-fishing1 h4 {
  color: var(--secondary);
}

.type-fishing1 p {
  margin: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

/* Formatação da seção About OK */

.section-about {
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 4.4rem;
  background-color: #fff;
  align-items: center;
}

.section-about-text {
  width: 45%;
}

.section-about-text h4 {
  color: var(--primary);
  margin-bottom: 1rem;
  font-weight: 100;
}

.section-about-text h2 {
  font-family: var(--font-primary);
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 2px;
}

.section-about-text p {
  line-height: 130%;
  font-weight: 100;
  font-size: medium;
  margin: .6rem 0;
}

.section-about-text ul li {
  list-style: none;
  font-weight: 300;
  font-size: medium;
  margin: .6rem 0;
}

.section-about-text i {
  color: var(--secondary);
  margin: .3rem .3rem 0 0;
  font-size: 1rem;
}

.section-about-text a {
  display: block;
  float: left;
  width: 8rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--primary);
  color: #ffffff;
}

.section-about-text-li {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

/* Formatação dos sub-titulos OK */

.top-title h2 {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1.25rem;
}

.top-title span {
  display: flex;
  justify-content: center;
  width: 2.5rem;
}

.top-title h3 {
  line-height: 170%;
  font-weight: 300;
  font-size: medium;
  margin: 1.25rem 20%;
  text-align: center;
}

/* Formatação da seção Our-services OK */

.our-services-services {
  display: flex;
  flex-wrap: wrap;
  margin: 1.9rem auto;
}

.services {
  width: 23.75rem;
  height: 12.5rem;
  margin-bottom: 1.9rem;
}

.services img {
  width: 23.75rem;
  height: 12.5rem;
}

.services h4 {
  margin-top: -6.25rem;
  margin-left: 6.25rem;
  width: 22.5rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, .8);
}

/* Formatação da seção feedback OK */

.feedback {
  display: flex;
  margin-bottom: 2.5rem;
}

.feedback1 {
  border: 1px solid rgba(204, 204, 204, .5);
  margin: 1.25rem;
  padding: 3.125rem;
}

.feedback2 {
  display: flex;
}

.feedback2 img {
  border-radius: 50%;
  float: left;
  width: 4.4rem;
  margin-right: 1rem;
}

.feedback2 h3 {
  font-weight: 200;
  margin-top: .9rem;
}

.feedback2 h5 {
  color: var(--secondary);
  margin-top: .2rem;
}

.feedback1 p {
  width: .62rem 1.25rem;
  line-height: 200%;
}

/* Formatação da avaliação com estrelas OK */

.stars {
  color: rgb(243, 207, 47);
  margin-top: .9rem;
  margin-left: .5rem;
}

/* Formatação da seção accessories OK */

.accessories {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.accessories img {
  width: 80%;
  margin: 2.5rem auto 1.25rem;
}

.accessories h4 {
  color: var(--secondary);
}

.fa-star {
  color: rgb(243, 207, 47);
  font-size: small;
  margin-top: .62rem;
  margin-bottom: .62rem;
}

.black {
  color: black;
}

/* Formatação da seção deal OK */

.deal {
  background-color: var(--gray);
  margin: 6rem 0;
  display: flex;
  justify-content: space-between;
  height: 20rem;
}

.deal-img-left {
  width: 15%;
  justify-items: left;
}

.deal-img-left img {
  width: 100%;
  opacity: .5;
}

.deal-img-right {
  width: 30%;
  background-image: url('../imagens/product-image-3-xl.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.deal-text {
  width: 45%;
}

.deal-text span {
  margin-right: .6rem;
}

.deal-text h1 {
  margin-top: 0px;
}

.deal-text h2 {
  margin-top: 3.125rem;
}

.deal-time {
  display: flex;
}

.deal-time-numbers {
  background: #fff;
  border: 1px solid rgba(204, 204, 204, .5);
  text-align: center;
  width: 6.25rem;
  margin: .3rem;
  padding: .3rem .6rem;
}

.deal-time-numbers h4 {
  font-weight: 100;
}

.deal-text a {
  display: block;
  float: left;
  width: 8rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--primary);
  color: #ffffff;
  margin: 1.25rem 0 3.125rem;
}

/* Formatação da seção blog OK */

.blog {
  display: flex;
  background-color: #f9fafc;
  max-width: 100%;
}

.blog-img img {
  width: 100%;
  margin-bottom: 1.25rem;
}

.blog-text i {
  color: var(--secondary);
  margin: 1.25rem 0px;
}

.blog-text h5 {
  font-weight: 100;
  margin-right: 2.5rem;
  margin-top: 1.25rem;
}

.blog-text-i {
  display: flex;
}

.blog1 {
  width: 30%;
}

.blog-text-a {
  width: 7.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: .62rem .3rem;
  font-size: medium;
}

.blog-text-a a {
  color: #000000;
  margin-left: 0;
}

.blog-text-a i {
  color: rgba(0, 0, 0, .5);
  margin-left: 0px;
}

/* Formatação da seção brand icons OK */

.brand-logo {
  display: flex;
  width: 100%;
  height: 6.25rem;
  margin: 4.4rem auto;
}

.botton-section {
  background-color: #f9fafc;
  width: 100%;
}

.botton-section1 {
  width: 85%;
  display: flex;
  height: 9.4rem;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
  width: 30%;
  margin: 0;
}

.formulario {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid rgba(204, 204, 204, .5);
  font-size: large;
  padding: .2rem;
  background-color: #fff;
}

.formulario input {
  height: 2rem;
  width: 60%;
  border: none;
}

.formulario button {
  height: 2.38rem;
  width: 6.25rem;
  text-align: center;
  background-color: #0d5763;
  color: #ffffff;
  margin: 0;
}

.call {
  width: 25%;
  padding-left: 2rem;
  border-left: 1px solid rgba(0, 0, 0, .2);
  margin: 0;
}

.call h4 {
  color: rgba(23, 162, 184, .5);
  line-height: .9rem;
  font-weight: 100;
}

.call h2 {
  line-height: 1.56rem;
  font-weight: 700;
  margin-top: .3rem;
}

footer {
  width: 100%;
  background-image: url(../imagens/footer.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.top-footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  line-height: 150%;
  padding-top: 3.12rem;
}

.top-footer1 {
  width: 23%;
}

.top-footer2 {
  width: 27%;
}

.top-footer3 {
    width: 23%;
}

.top-footer-social i {
  font-size: large;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  text-align: center;
  padding: .25rem;
  margin: 1.5rem .4rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

.footer-contact1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.2rem;
  padding-left: .5rem;
}

.footer-contact2 {
  display: flex;
  width: 100%;
  padding-left: .5rem;
}

.footer-contact2-2 {
  display: flex;
  flex-direction: column;
}

.footer-contact i {
  width: 15%;
  color: var(--secondary);
}

.footer-contact h5 {
  width: 90%;
}

.footer-contact h3 {
  margin-top: 5rem;
}

.footer-contact p {
  margin: -.62rem 0 2.2rem .62rem;
  opacity: 50%;
  margin-top: .5rem;
}

.botton-footer {
  display: flex;
  margin: 3rem 5rem;
  padding-bottom: 3rem;
}

.botton-footer p {
  color: #fff;
  font-weight: 9.4rem;
  margin-left: .62rem;
}

.botton-footer img {
  margin-right: .62rem;
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */

@media (max-width: 1199.98px) {}

/* Medium devices (tablets, 800px and up) */

@media (max-width: 991.98px) {
  .top-page1 {
    display: block;
  }

  .top-pageleft {
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid var(--text-secondary);
  }

  .top-pageright {
    text-align: center;
    width: 100%;
  }

  .top-menu {
    width: 80%;
  }

  .top-search input {
    width: 55%;
  }

  .top-search {
    max-width: 11.25rem;
  }

  .top-text-imagem {
    display: none;
    width: 0%;
  }

  .top-text-imagem img {
    height: 0%;
  }

  .top-text-text {
    width: 90%;
  }

  .type-fishing {
    flex-wrap: wrap;
  }

  .type-fishing1 {
    flex: 0 0 17.5rem;
  }

  .section-about-img {
    display: none;
    width: 0%;
  }

  .section-about-text {
    width: 100%;
  }

  .feedback2 {
    flex-direction: column;
  }

  .stars {
    margin: .9rem auto;
  }

  .accessories {
    flex-wrap: wrap;
  }

  .accessories1 {
    flex: 0 0 17.5rem;
  }

  .deal-img-left, .deal-img-right {
    display: none;
    width: 0%;
  }

  .deal-text {
    width: 100%;
    margin-left: 13rem;
  }

  .blog {
    flex-wrap: wrap;
  }

  .blog1 {
    flex: 0 0 26.25rem;
  }

  .subscribe {
    width: 25%;
  }

  .formulario {
    width: 45%;
  }

  .call {
    width: 30%;
    border: none;
  }

  .top-footer {
    flex-wrap: wrap;
  }

  .top-footer1, .top-footer2 {
    flex: 0 0 40%;
    margin-bottom: 2rem;
  }

  .botton-footer {
    margin: 1rem 5rem 3rem 5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 800px) {

  .top-pageleft {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .top-page2 {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }

  .top-logo {
    margin: 0%;
  }

  .top-menu {
    display: none;
    order: 3;
    max-width: 50% ;
  }

  .top-search {
    max-width: 17.5rem;
    order: 1;
  }

  .hamburger {
    display: block;
    order: 2;
  }

  .bar {
    display: block;
    width: 1.56rem;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .top-menu.active {
    display: block;
  }

  .top-menu ul {
    flex-direction: column;
  }

  .top-menu ul li {
    margin: 0 1%;
  }

  .top-menu ul li ul {
    position: relative;
  }

  .top-menu ul li:hover > ul {
    margin-left: 2.5rem; 
  }

  .top-menu ul li ul li:hover > ul {
    margin-left: 1.25rem;
    margin-top: 0px;
  }

/* Final do menu responsivo - hamburguer */
 
  .feedback {
    flex-wrap: wrap;
  }

  .brand5 {
    display: none;
  }

  .botton-section1 {
    flex-direction: column;
    height: auto;
  }

  .subscribe {
    width: 60%;
    margin: 1em auto;
  }

  .formulario {
    width: 60%;
    margin: 0em auto;
  }

  .call {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1em auto;
    padding: 0;
  }

  .deal-text {
    width: 100%;
    margin-left: 1rem;
  }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

  .top-footer {
    flex-direction: column;
  }

  .top-footer1, .top-footer2 {
    width: 80%;
    margin-bottom: 2rem;
  }

  .brand4 {
    display: none;
  }

  .botton-footer img {
    max-width: 50%;
  }
}
